@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/* base styles */
* {
  margin: 0;
  font-family:  'Poppins', sans-serif;
  color: #333;
}
.example::-webkit-scrollbar {
  display: none;
}
.navbar {
  padding: 20px;
  max-width: auto;
  margin: 0 auto;
  /* border-bottom: 2px solid #f2f2f2; */
  box-shadow: 0 1px 1px 1px rgba(8, 8, 8, 0.15);
}
.navbar h1 {
  color: #6bb0ff;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #067aff;
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 97.5%;
}
.homebanner {
  padding: 150px;
  align-items: center;
}

.imagebanner {
  align-items: center;
}

.hometitle{
  font-family:  'Poppins', sans-serif;
  font-weight:900;
}

.homecontent{
  font-size: 18px;
}

.about-section{
  background-color: #fdfaff;
}

.aboutcards{
  display: flex;
  flex-direction:column;
  align-items:center;
}

.abouttitle{
  font-family:  'Poppins', sans-serif;
  font-size: 25px;
}

.teamcard2{
  display: flex;
  flex-direction:column;
  align-items:center;
}

.researchtable{
  display: flex;
  flex-direction:column;
  align-items:center;
  
}